{% extends 'base.html' %}

{% block content %}

{% for message in messages %}
{{ message }}
{% endfor%}

<h1>Welcome to the homepage {{ user.username }}</h1>
<p align="left">

<p>Select desired task</p>
<a href="{% url 'write-story' %}"> Write story </a> <a href="{% url 'your-story' %}">View your stories</a> <a href="{% url 'other-story' %}">View other stories</a>
<br><br>
<a href="{% url 'logout' %}">logout</a></p>
{% endblock %}