{% extends 'base.html' %}

{% block content %}
{% for message in messages %}
{{ message }}
{% endfor %}
<form method="POST">
    {% csrf_token %}
    <p>Username : <input type="text" maxlength="30" placeholder="Enter Username" name="username"></p>
    <p>Password : <input type="password" maxlength="50" placeholder="Enter Password" name="password"></p>
    <input type="submit" value="Login">

</form>

<p align="left">New member? <a href="{% url 'register' %}">Sign up</a></p>


{% endblock %}