{% extends 'base.html' %}

{% block content %}

    <p>There is {{ stories.count }} other stor{{ stories.count | pluralize:"y,ies" }} </p>


{% if stories %}
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Stories</th>
    </tr>
    {% for story in stories %}
    <tr>
        <td>{{story.user.first_name}}</td>
        <td>{{story.user.last_name}}</td>
        <td>{{story.story}}</td>
    </tr>
    {% endfor %}

</table>
{% endif %}

<p align="left"><a href="{% url 'logout' %}">logout</a></p>
<p><a href="{% url 'home' %}">Back to home</a></p>
{% endblock %}