{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.first_name.label }}{{ form.first_name }}<br><br>
    {{ form.last_name.label }} {{ form.last_name }}<br><br>
    {{ form.username.label }}{{ form.username }}<br><br>
    {{ form.password1.label }}{{ form.password1 }}<br><br>
    {{ form.password2.label }}{{ form.password2 }}<br><br>

    <input type="submit" value="Register">

</form>

<p align="left">Already a member? <a href="{% url 'login' %}">Sign in</a></p>

{% endblock %}