<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Page</title>
</head>
<body>
    <h1>Writer Library</h1>
    {% if error_message != None %}
        <p><span style="color: red;">{{error_message}}</span></p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <p><b>Enter story below</b></p>
        {{form.as_p}}
        <br><br>

        <input type="submit" value="Save story">


    </form>
<p align="left"><a href="{% url 'logout' %}">logout</a></p>
<p><a href="{% url 'home' %}">Back to home</a></p>
</body>
</html>